@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: #81a3b5;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar h1 {
  color: #ffffff;
}

/* Main Layout */
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Sidebar + Map Container */
.main__container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
}

/* Sidebar */
.sidebar {
  width: 20%;
  background-color: #b4cedc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset -2px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 60px;
  text-align: center;
}

.sidebar p {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}

.sidebar h3 {
  font-size: 20px;
  color: #2c3e50;
  margin-top: 90px; 
  text-align: center;
}

.region-name h2 {
  font-size: 20px;
  color: #2c3e50;
  margin-top: 10px; 
  text-align: center;
}

/* Map Container */

.map__container {
  display: flex;
  width: 100%; 
  height: 450px; 
  position: top;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
  align-self: flex-start;
}
#map {
  width: 100%; 
  height: 100%; 
}

/* Statistics Row */
.statistics {
  display: flex;
  width: 100%;
  background-color: #94c9cf;
  justify-content: space-around;
  padding: 10px 0;
}

/* Each Statistic */
.statistic {
  width: 20%; /* 5 statistics will fit side-by-side */
  padding: 20px;
  text-align: center;
  height: 190px;
}

.statistic strong {
  display: block;
  margin-bottom: 20px;
}

.statistic p {
  font-size: 65px;
  margin-top: 30px;
}

