{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Backend Success</title>
    <link rel="stylesheet" href="{% static 'website/styles.css' %}">
</head>
<body>
    <div class="main_container">
        <h1>Django backend running successfully!</h1>
        <h2>You may close this page.</h2>
        <p>To run the frontend server, run the following commands in your terminal:</p>
        <code>cd debt-database</code><br>
        <code>cd react-frontend</code><br>
        <code>npm i</code><br>
        <code>npm start</code>
    </div>
</body>
</html>

